<div>
    <h1>Register</h1>
    <div class="form">
        <form action="">
            <label for="email">Email</label>
            <input #email type="text" name="email">

            <label for="password">Password</label>
            <input #password type="text" name="password">

            <label for="repeatPassword">Repeate password</label>
            <input #repeatPassword type="text" name="repeatPassword">

            <input class="submit" value="Register" (click)="submitRegistration(email,password,repeatPassword)">
        </form>
    </div>
</div>