<footer class="site-footer custom-footer-color text-white">
    <div class="flex items-center justify-between w-full">
      <div>
        <h2 class="text-xl font-bold">
          <a href="#" class="text-black hover:text-gray-300 ml-4">The Realest Estate</a>
        </h2>
        <nav class="ml-4">
          <ul class="flex space-x-4">
            <li><a href="#" class="text-black hover:text-gray-300">Home</a></li>
            <li><a href="#" class="text-black hover:text-gray-300">About</a></li>
            <li><a href="#" class="text-black hover:text-gray-300">Services</a></li>
            <li><a href="#" class="text-black hover:text-gray-300">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <p class="text-black">&copy; 2023 The Realest Estate. All rights reserved.</p>
      </div>
    </div>
  </footer>