.estate-wrapper {
    display: flex;
    justify-content: space-between;
}

.sell-option {
    background-color: aquamarine;

    margin-top: 50px;
    margin-left: 50px;

    padding-bottom: 20px;

    width: 300px;

    text-align: center;
}

.rent-option {
    background-color: aqua;

    margin-top: 50px;
    margin-right: 50px;

    padding-bottom: 20px;

    width: 300px;

    text-align: center;
}