<div *ngIf="!loaderService.isLoading" class="container mx-auto px-4 py-8">
    <div class="mx-auto bg-white rounded-md shadow-md p-6">
      <h1 class="text-2xl font-bold mb-4">User Profile</h1>
  
      <!-- User Email -->
      <div class="mb-4">
        <label for="email" class="text-gray-700">Email:</label>
        <p id="email" class="mt-1 text-gray-900 font-medium">{{email}}</p>
      </div>

      <div class="mb-4 flex">
        <div class="flex-grow cursor-pointer text-gray-700 font-medium py-2 px-4 rounded-md text-center border-r" (click)="showListings()">
          Owned Listings
        </div>
        <div class="flex-grow cursor-pointer text-gray-700 font-medium py-2 px-4 rounded-md text-center" (click)="showBookmarks()">
          Bookmarked Listings
        </div>
      </div>
  
      <!-- User Listings -->
      <div *ngIf="displayListings">
        <div *ngFor="let listing of listings" class="border border-gray-300 rounded-md p-4">
          <h2 class="text-xl font-bold mb-4">{{listing.type}}</h2>
          <div class="flex space-x-8">
            <div class="w-2/5"> <!-- Adjusted w-2/5 for wider image section -->
              <img src="{{listing.imageUrl}}" alt="Listing Image" class="w-full rounded-md">
            </div>
            <div class="flex-grow">
              <h3 class="text-lg font-medium">{{listing.location}}</h3>
              <p class="text-gray-700">{{listing.description}}</p>
              <p class="mt-2 text-gray-900 font-medium">${{listing?.price || listing?.rent}}</p>
  
              <a *ngIf="listing?.rent != undefined" routerLink="/rent/{{listing._id}}">
                <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md">Details</button>
              </a>
  
              <a *ngIf="listing?.price != undefined" routerLink="/buy/{{listing._id}}">
                <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md">Details</button>
              </a>
            </div>
          </div>
        </div>

        <div *ngIf="noListings" class="flex justify-center items-center h-screen">
          <h1 class="text-4xl">No listings.</h1>
        </div>
      </div>
      

      <!-- User Bookmarks -->
      <div *ngIf="displayBookmarks">
        <div *ngFor="let bookmark of bookmarks" class="border border-gray-300 rounded-md p-4">
          <h2 class="text-xl font-bold mb-4">{{bookmark.type}}</h2>
          <div class="flex space-x-8">
            <div class="w-2/5"> <!-- Adjusted w-2/5 for wider image section -->
              <img src="{{bookmark.imageUrl}}" alt="Listing Image" class="w-full rounded-md">
            </div>
            <div class="flex-grow">
              <h3 class="text-lg font-medium">{{bookmark.location}}</h3>
              <p class="text-gray-700">{{bookmark.description}}</p>
              <p class="mt-2 text-gray-900 font-medium">${{bookmark?.price || bookmark?.rent}}</p>
  
              <a *ngIf="bookmark?.rent != undefined" routerLink="/rent/{{bookmark._id}}">
                <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md">Details</button>
              </a>
  
              <a *ngIf="bookmark?.price != undefined" routerLink="/buy/{{bookmark._id}}">
                <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md">Details</button>
              </a>
            </div>
          </div>
        </div>

        <div *ngIf="noBookmarks" class="flex justify-center items-center h-screen">
          <h1 class="text-4xl">No bookmarks.</h1>
        </div>
      </div>

    </div>
  </div>