<div class="p-4">
    <div class="bg-white shadow-lg rounded-lg p-4">
        <div class="flex justify-between items-center mb-4">
            <h4 class="text-lg font-bold">{{rent?.type}}</h4>
            <span class="text-gray-500">{{rent?.location}}</span>
        </div>
        <div class="flex justify-between items-center mb-4">
            <h4 class="text-2xl font-bold">{{rent?.rent}} EUR</h4>
            <span class="text-gray-500">({{rentPerSquare}} EUR/m2)</span>
        </div>
        <img class="mb-4" src="{{rent?.imageUrl}}" alt="">
        <span class="text-gray-700">{{rent?.description}}</span>
        <hr class="my-4">
        <h5 class="text-lg font-bold">{{rent?.area}} square meters</h5>

        <!-- For owner -->
        <div *ngIf="isOwner">
            <button class="btn">Edit</button>
            <button class="btn" (click)="deleteRent()">Delete</button>
        </div>

        <!-- For user -->
        <div *ngIf="!isOwner">
            <button class="btn">Buy</button>
            <button class="btn">Contact</button>
        </div>
    </div>
</div>