.custom-header-color {
    background-color: rgb(163, 124, 118);
}

.custom-rosybrown {
    background-color: #bd8d86;

    border-color: black;
}

.custom-rosybrown:hover {
    border-color: rgb(169, 169, 169);
}