<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">The Realest Estate</span></p>
        </div>
        <div class="mini-navbar">
            <ul>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Buy</a>
            </li>
            <li>
                <a href="#">Rent</a>
            </li>
        </ul>
    </nav>
</header>