<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">The Realest Estate</span></p>
        </div>
        <div class="mini-navbar">
            <ul>
                <li *ngIf="!authService.isLoggedIn">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="!authService.isLoggedIn">
                    <a routerLink="/register">Register</a>
                </li>
                <li *ngIf="authService.isLoggedIn">
                    <a href="#" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/buy">Buy</a>
            </li>
            <li>
                <a routerLink="/rent">Rent</a>
            </li>
            <li *ngIf="authService.isLoggedIn">
                <a routerLink="/add">Add</a>
            </li>
        </ul>
    </nav>
</header>