<div>
    <h1>Add estate for sale</h1>
    <div class="form">
        <form [formGroup]="sellForm" (ngSubmit)="handleSubmit()">
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" name="location" formControlName="location">
                <!-- location error handling -->
                <div *ngIf="sellForm.get('location')?.touched">
                    <div *ngIf="sellForm.get('location')?.errors?.['required']">
                        Location is required!
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="imageUrl">ImageUrl</label>
                <input type="text" name="imageUrl" formControlName="imageUrl">
                <!-- imageUrl error handling -->
                <div *ngIf="sellForm.get('imageUrl')?.touched">
                    <div *ngIf="sellForm.get('imageUrl')?.errors?.['required']">
                        ImageUrl is required!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" formControlName="description">
                <!-- description error handling -->
                <div *ngIf="sellForm.get('description')?.touched">
                    <div *ngIf="sellForm.get('description')?.errors?.['required']">
                        Description is required!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="area">Area</label>
                <input type="number" name="area" formControlName="area">
                <!-- area error handling -->
                <div *ngIf="sellForm.get('area')?.touched">
                    <div *ngIf="sellForm.get('area')?.errors?.['required']">
                        Area is required!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" name="price" formControlName="price">
                <!-- price error handling -->
                <div *ngIf="sellForm.get('price')?.touched">
                    <div *ngIf="sellForm.get('price')?.errors?.['required']">
                        Price is required!
                    </div>
                </div>
            </div>

            <button>Add</button>
        </form>
    </div>
</div>