<div class="flex justify-center items-center h-full">
    <div class="max-w-md w-full p-6 space-y-6 bg-white rounded-lg shadow-md">
        <h1 class="text-2xl font-bold text-center">Log into your account</h1>
        <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
            <div class="space-y-4">
                <div>
                    <label for="email" class="text-gray-600 block">Email</label>
                    <input type="text" name="email" formControlName="email" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="loginForm.get('email')?.touched" class="text-red-500">
                        <div *ngIf="loginForm.get('email')?.errors?.['required']">
                            Email is required!
                        </div>
                        <div *ngIf="loginForm.get('email')?.errors?.['email']">
                            Email is not valid!
                        </div>
                    </div>
                </div>
                
                <div>
                    <label for="password" class="text-gray-600 block">Password</label>
                    <input type="password" name="password" formControlName="password" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- password error handling -->
                    <div *ngIf="loginForm.get('password')?.touched" class="text-red-500">
                        <div *ngIf="loginForm.get('password')?.errors?.['required']">
                            Password is required!
                        </div>
                        <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                            Password too short!
                        </div>
                    </div>
                    <div *ngIf="errorMessage" class="text-red-500">
                        {{errorMessage}}
                    </div>
                </div>
            </div>

            <button class="btn bg-gray-200 mt-6 w-full">Login</button>
            
            <p class="text-center text-gray-600 mt-4">Don't have an account? <a routerLink="/register" class="text-blue-500 hover:text-blue-700">Register</a></p>
        </form>
    </div>
</div>